@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;600&family=Pixelify+Sans&family=VT323&display=swap');

:root {
    font-family: 'Victor Mono', monospace;
    font-weight: 200;
    --bg: #0C0623;
    --border: #FFADE2;
    --text: #F8DDE5;
    --prompt-default: #A5A7A7;
    --prompt-1: #FE6BC9;
    --prompt-2: #70FDFF;
}

html,
body {
    color: var(--text);
    background-color: var(--bg);
    height: 100%;
    font-size: 16px;
    display: block;
}

html {
    overflow: auto;
}

body {
    padding: 16px;
    box-sizing: border-box;
}

@keyframes type {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

main {
    display: block;
    box-sizing: border-box;
    height: 100%;
    border: var(--border) solid 2px;
    border-radius: 2px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

main::-webkit-scrollbar {
    display: none;
}

p {
    display: block;
    line-height: 22px;
    animation: type 0.75s steps(25, end);
    white-space: nowrap;
    overflow: hidden;
}

div {
    line-height: 22px;
}

pre {
    margin: 0;
    padding: 0;
    line-height: 20px !important;
    color: #FF9951;
    font-family: "IBM Plex Mono", monospace;
}

input {
    font-family: 'Victor Mono', monospace;
    padding: 0px;
    margin: 0px;
    border: none;
    resize: none;
    outline: none;
    font-size: 16px;
    color: #FF7685;
    caret-color: var(--prompt-default);
    width: 50%;
}

a {
    color: #B6AAEE;
}

a:hover {
    background-color: var(--border);
    color: var(--bg);
}

#lines {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 20px;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    top: 0;
    background-color: var(--bg);
}

#line-1 {
    font-size: 32px;
    height: 36px;
    background-color: var(--border);
    color: var(--bg);
    line-height: 36px;
    padding-left: 10px;
}

#line-2 {
    height: 4px;
    background-color: var(--border);
    margin-top: 1px;
}

#line-3 {
    height: 3px;
    background-color: var(--border);
    margin-top: 2px;
}

#line-4 {
    height: 2px;
    background-color: var(--border);
    margin-top: 3px;
}

#line-5 {
    height: 1px;
    background-color: var(--border);
    margin-top: 4px;
}

#terminal {
    margin-left: 20px;
    margin-top: 10px;
}

#input-line {
    margin-left: 20px;
    overflow-x: hidden;
    width: 100%;
}

.command {
    text-shadow:
        0 0 2px #fff,
        0 0 50px var(--border);
    color: #FD9BDB;
}

.output {
    font-weight: 400 !important;
}

.keys {
    color: #FF9951;
    font-weight: 400;
}

@media (max-width: 600px) {
    body {
        font-size: 10px;
        padding: 2px;
        font-weight: 300;
    }

    input {
        font-size: 10px;
    }

    p {
        line-height: 14px;
    }

    pre {
        line-height: 12px !important;
        font-size: 9px;
    }

    main {
        border-width: 1px;
    }

    div {
        line-height: 14px;
    }

    #terminal {
        margin-left: 8px;
    }

    #input-line {
        margin-left: 8px;
    }
}

@media (max-width: 400px) {
    #line-1 {
        font-size: 25px;
        height: 32px;
        line-height: 32px;
        padding-left: 8px;
    }
}